body{
    background-color: rgb(16, 14, 14);
    color: bisque;
    height: 100%;
    width: 100%;
    font-family: "Source Code Pro", monospace;
}

.image{
    width: 300px;
    height: 300px;
    background-image: url('tails.png');
    background-position: cover;
    background-size: contain;
}

.active{
    background-image: url('heads.png');
    background-position: cover;
    background-size: contain;
    width: 300px;
    height: 300px;
}

.button-start{
    margin-top: 40px;
}

.clicktostart{
    height: 40px;
    text-align: center;
    width: 70px;
    font-size: large;
}

.finalwords{
    font-size: 2rem;
}