body{
    background-color: bisque;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.dark{
    background-color: black;
    color: aliceblue;
}
.body-wrapper{
    width: 40vw;
    height: 40vh;
}
.switch{
    background-color: cornsilk;
    display: inline-block;
    width: 40px;
    height: 20px;
    position: relative;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.switch span{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: grey;
}
span::before{
    content: "";
    position: absolute;
    left: 4px;
    bottom: 4px;
    background-color: aqua;
    width: 20px;
    height: 18px;
    border-radius: 6px;
    transition: 0.4s;
}
input:checked + .slider{
    background-color: aqua;
}
input:checked + .slider::before{
    transform: translate(20px);
    background-color: grey;
}