body{
    background-color: rgb(16, 14, 14);
    color: bisque;
    height: 100vh;
    width: 100%;
    font-family: "Source Code Pro", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emojis{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.emoji{
    min-width: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.emoji button{
    background: none;
    border: none;
    gap: 10px;
    font-size: 2.5rem;
    cursor: pointer;
}
.count{
    font-size: 1.5rem;
}